<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <img src="../../../assets/dog-and-cat-cover.jpg" class="img-dogcat" alt="Dog Cat" width="300" height="250">
      </div>
      <div class="col-sm-4">
        <h1>Get to know us</h1>
        <p>Adopting a pet is one of the very best ways to bring more happiness into your world.</p>
        <p>So we're making this website with tools, advice and transparency you need to help 
            millions of people and pets find each other.
        </p>
        <p>Ready to find you Pet? Let's do it</p>
      </div>
    </div>
</div>
<div>
    <h2>Our team</h2>
</div>
<div class="container mt-5">
    <div class="row">
      <div class="col-sm-4">
        <p>Sasitorn Karaket 6304022610359</p>
      </div>
      <div class="col-sm-4">
        <p>Pakaphong Chamnansilp 6304022630171</p>
      </div>
      <div class="col-sm-4">
        <p>Wanwisa Wongmee 6304022630210</p>
      </div>
    </div>
  </div>