<div class="container mt-3">
    <h1>Rehoming Your Pet <br>Add your Pet here.</h1>
    <form action="/action_page.php">
      <div class="mb-3 mt-3">
        <label>Name:</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="mb-3">
        <label>Age:</label>
        <input type="text" class="form-control" id="age">
      </div>
      <div class="mb-3 mt-3">
        <label>Description:</label>
        <input type="text" class="form-control" id="desc">
      </div>
      <div class="mb-3">
        <label>Image:</label>
        <input type="text" class="form-control" id="img">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
