
                      <div class="container">
                        <h1>Sign Up</h1>
                       
                        
                        <label for="Firstname"><b>Firstname</b></label>
                        <input type="text" placeholder="Firsname" name="name" required>

                        <label for="lastname"><b>Lastname</b></label>
                        <input type="text" placeholder="Lastname" name="name" required>

                        <label for="Usrename"><b>Usrename</b></label>
                        <input type="text" placeholder="Usrename" name="name" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <label for="email"><b>Email</b></label>
                        <input type="text" placeholder="Enter Email" name="email" required>
                    
                        <label for="Phone"><b>Phone</b></label>
                        <input type="Phone" placeholder="Phone" name="Phone" required>
                        
                
                        
                       
                    
                        <div class="clearfix">
                          <button type="button" class="cancelbtn">Cancel</button>
                          <button type="submit" class="signupbtn">Sign Up</button>
                        </div>
                      </div>
                  