<div>
    <p>Adopt Us!</p>
    <p>we're looking for new homes</p>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let dog of datadog">
        <div class="card h-100">
            <img src="https://cdn-prod.medicalnewstoday.com/content/images/articles/322/322868/golden-retriever-puppy.jpg" class="card-img-top" alt="dog">
            <div class="card-body">
                <h5 class="card-title">Judy</h5>
                <p class="card-text">2 years</p>
                <p class="card-text">Sweet girl</p>
            </div>
        </div>
    </div>
</div>